main {
  width: 1600px;
  margin: auto;
}

nav > h1 {
  padding-left: 5%;
  background-color:ghostwhite;
}

.mgTop30 {
  margin-top: 30px;
}

/* viewtemplate */
.img-size {
  width: 100%;
  height: auto;
}

img {
  display: block;
  margin: auto;
}

.price-txt {
  text-align: end;
}

/* detailTemplate */
.returnBt {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 4px 24px;
  font-size: 18px;
}

.detailTitle {
  font-size: 40px;
}